<h2>Login</h2>
<form>
    <div>
        <label>email:</label>
        <input type="text" id="login">
    </div>
    <div>
        <label for="passwordLogin">password:</label>
        <input type="password" id="password">
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
    <div>
        <button type="click">sign up</button>
    </div>
</form>

<script src="/js/login.js"></script>
